@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
  --primary-color: #f3bf31   ;
  --secondary-color: #c8ab5b ;
  --accent1-color: #a29981;
  --accent2-color: white;

  --heading-font: "Montserrat";
  --paragraph-font: Nunito, Helvetica, sans-serif;

  --headline-color-on-white: #f3bf31;
  --headline-color-on-color: white;
  --paragraph-color-on-white: #f3bf31;
  --paragraph-color-on-color: white;
  --paragraph-background-color: #a29981  ;
  --nav-link-color: white;
  --nav-background-color: #a29981 ;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #c8ab5b;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
    text-align: center;
  }

  p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
  }

  a {
    text-decoration: none;
  }

nav {
    display: flex;
    justify-content: space-around;
    background-color: #a29981;
}

nav a {
    font-family: var(--paragraph-font);
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 35px;
}

nav a:hover {
    background-color: #c8ab5b;
    color: white;
}

body {
    margin: 0;
}

.homegrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 7%;
    margin-top: 7%;
    padding-left: 3%;
    padding-right: 3%;
}

.articlespotlightgrid {
    display: grid;
    grid-template-rows: 80% 1fr;
    padding-top: 5%;
    justify-items: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: #a29981;
}

.articlespotlightgrid p {
    color: var(--paragraph-color-on-color)
}

footer {
    background-color: #a29981;
    color: white;
    padding: 25px 50px;
    margin-top: 7%;
    display: flex;
    justify-content: space-around;
}

footer a {
    font-family: var(--paragraph-font);
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: white;
}


/* Article Page CSS */
.articlegrid {
    display: grid;
    grid-template-rows: .5fr 1fr .2fr;
    padding-top: 5%;
    justify-items: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: #a29981;
}

.articlegrid p {
    color: var(--paragraph-color-on-color)
}

.articlegrid img {
    width: 100%;
}

.articleSlide {
    display: none;
}



/* Charts Page CSS */
.chartgrid {
    display: grid;
    grid-template-rows: 20% 1fr 20%;
    padding-top: 5%;
    justify-items: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: #a29981;
}

.chartgrid p, .chartgrid h2 {
    color: var(--paragraph-color-on-color)
}


/* Time Line CSS */
.timelinegrid {
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 7%;
    margin-top: 7%;
    padding-left: 3%;
    padding-right: 3%;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #f3bf31;
    top: 0;
    bottom: 0;
    left: -15%; /* Move the center line */
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #c8ab5b;
    top: 15px;
    border-radius: 10px;
    z-index: 1;
}

.left {
    left: -22%; /* Move the little square circle things */
}


.left::before {
    content: "";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #c8ab5b;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #c8ab5b;
}

.timelinecontent {
    padding: 20px 30px;
    background-color: #a29981;
    position: relative;
    border-radius: 10px;
    text-align: center;
}

.timelinecontent p, .timelinecontent h2 {
    color: white;
}

@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }
}

.container {
    width: 90%;
    padding-left: 70px;
    padding-right: 25px;
}

.container::before {
    left: 60px;
    border: medium solid #f3bf31;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f3bf31 transparent transparent;
}

.left::after {
    left: 15px;
}